
.hsv-color-picker {
  display: flex;
  justify-content: space-evenly;
  gap: 2em;
  overflow: hidden;
  padding: 2em;
  > .hue-wheel {
    flex: 0 0 auto;
  }
}

.hue-info {
  text-align: center;
  font-size: x-large;
  padding: 2em;
  height: calc(100% - 2em * 2);
}
