@use "ColorGuessr/Page/Guess.scss";
@use "ColorPicker/HSV.scss";
@use "ColorPicker/HSVPicker.scss";
@use "ColorPicker/HueWheel.scss";

*, ::before, ::after {
  box-sizing: content-box;
}

body {
  background-color: gray;
  font-family: 'Ubuntu', sans-serif;
}
